body {
  background-color: rgb(46, 46, 46);
}

.input {
  border: 1px solid #eee;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.output {
  margin-top: 20px;
  display: none;
  border: 1px solid #eee;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

#resultNum {
  color: green;
  font-weight: bold;
}

#selectError {
  color: red;
  font-weight: bold;
}